<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>梦学谷账单管理系统</title>
     <link rel="stylesheet" href="../css/public.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
<!--头部-->
    <header class="publicHeader">
        <h1>梦学谷账单管理系统</h1>
        <div class="publicHeaderR">
            <p><span>下午好！</span><span style="color: #fff21b"> Admin</span> , 欢迎你！</p>
            <a href="../main/login.html">退出</a>
        </div>
    </header>
<!--时间-->
    <section class="publicTime">
        <span id="time">2028年01月01日 11:11  星期一</span>
        <a href="#">温馨提示：为了能正常浏览，请使用高版本浏览器！（IE10+）</a>
    </section>
<!--主体内容-->
    <section class="publicMian ">
        <div class="left">
            <h2 class="leftH2"><span class="span1"></span>功能列表 <span></span></h2>
			<nav>
            <ul class="list">
                <li id="active"><a href="../bill/list.html">账单管理</a></li>
                <li><a href="../provider/list.html">供应商管理</a></li>
                <li><a href="../user/list.html">用户管理</a></li>
                <li><a href="../main/password.html">密码修改</a></li>
                <li><a href="../main/login.html">退出系统</a></li>
            </ul>
        </nav>
        </div>
        <div class="right">
            <div class="location">
                <strong>你现在所在的位置是:</strong>
                <span>账单管理页面</span>
            </div>
			<form id="searchForm" >
            <div class="search">
                <span>商品名称：</span>
                <input name="billName" type="text" placeholder="请输入商品的名称"/>
                
                <span>供应商：</span>
                <select name="pid" >
                    <option value="">--请选择--</option>
                    <option value="">北京市粮油总公司</option>
                    <option value="">邯郸市五得利面粉厂</option>
                </select>

                <span>是否付款：</span>
                <select name="pay">
                    <option value="">--请选择--</option>
                    <option value="0">未付款</option>
					<option value="1">已付款</option>
                </select>

                <input type="button" value="查询"/>
                <a href="../bill/add.html">添加帐单</a>
            </div>
			</form>
            <!--账单表格 样式和供应商公用-->
            <table class="providerTable" cellpadding="0" cellspacing="0">
                <tr class="firstTr">
                    <th width="10%">账单编码</th>
                    <th width="20%">商品名称</th>
                    <th width="10%">供应商</th>
                    <th width="10%">总金额</th>
                    <th width="10%">是否付款</th>
                    <th width="10%">创建时间</th>
                    <th width="30%">操作</th>
                </tr>
                <tr>
                    <td>PRO-CODE—001</td>
                    <td>测试供应商001</td>
                    <td>北京市粮油总公司</td>
                    <td>22.00</td>
                    <td>未付款</td>
                    <td>2015-11-12</td>
                    <td>
                        <a href="view.html"><img src="../img/read.png" alt="查看" title="查看"/></a>
                        <a href="update.html"><img src="../img/xiugai.png" alt="修改" title="修改"/></a>
                        <a href="#" class="delete"><img src="../img/schu.png" alt="删除" title="删除"/></a>
                    </td>
                </tr>
                <tr>
                    <td>PRO-CODE—002</td>
                    <td>测试供应商002</td>
                    <td>北京市粮油总公司</td>
                    <td>22.00</td>
                    <td>未付款</td>
                    <td>2015-11-12</td>
                    <td>
                        <a href="view.html"><img src="../img/read.png" alt="查看" title="查看"/></a>
                        <a href="update.html"><img src="../img/xiugai.png" alt="修改" title="修改"/></a>
                        <a href="#" class="delete"><img src="../img/schu.png" alt="删除" title="删除"/></a>
                    </td>
                </tr>
            </table>
        </div>
    </section>

	<!--点击删除按钮后弹出的页面-->
	<div class="zhezhao"></div>
	<form method="post" id="deleteForm">
		<input type="hidden" name="_method" value="delete">
		<div class="remove" id="removeProv">
		   <div class="removerChid">
			   <h2>提示</h2>
			   <div class="removeMain" >
				   <p>你确定要删除吗？</p>
				   <a href="#" id="yes">确定</a>
				   <a href="#" id="no">取消</a>
			   </div>
		   </div>
		</div>
	</form>
	
	<footer class="footer"><div style="text-align:center;">	<p><a href="http://www.mengxuegu.com/" target="_blank">梦学谷 www.mengxuegu.com</a> 版权所有</p></div></footer>

	<script src="../js/jquery.js"></script>
	<script src="../js/js.js"></script>
<!--
	<script src="js/time.js"></script>
	-->

</body>
</html>